@media screen and (max-width: 768px) {
  .main_title{
    margin-top: 200px;
  }
  .title_text {
    font-size: 120px;
    letter-spacing: -5px;
    margin-bottom: -30px;
  }
  .txt {
    font-size: 90px;
  }
  #btn{
    line-height: 42px;
    text-shadow: 3px 3px 3px black;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
    font-size: 25px;
    color: white;
  }
  .title_2 button{
    font-size: 20px;
    font-family: 'GongGothicMedium';
    margin-top: 30px;
    border-radius: 30px;
    height: 40px;
    width: 150px;
    border: none;
    background-color: white;
    text-decoration: none;
  }
  .title_2{
    text-align: center;
    margin: auto;
    height: 300px;
    width: 350px;
    background-color: rgb(65, 65, 65);
    border-radius: 30px;
  }  
  .sub_title{
    color: white;
    padding-top: 30px;
    margin-top: 40px;
    font-size: 30px;
  }
  .main_text{
    font-size: 25px;
  }
}


body {
  margin: 0 auto;
  text-align: center;
}

.title {
  font-family: 'GongGothicMedium';
  margin-top: 150px;
  font-size: 50px;
}

.title_2 {
  font-size: 30px;
  font-family: 'GongGothicMedium';
  color: rgb(255, 98, 98);
}

.title_3 {
  margin-top: 30px;
  font-size: 30px;
  font-family: 'GmarketSansMedium';
}

.txt {
  margin-top: 20px;
}

.btn button {
  font-family: 'GongGothicMedium';
  text-decoration: none;
  font-size: 40px;
  margin-top: 40px;
  width: 300px;
  height: 90px;
  border-radius: 20px;
  border: none;
  background-color: white;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.274);
  text-decoration: none;
  transition: all 0.5s; 
  color: rgb(71, 30, 255);
}
.btn button:hover{
  color: white;
  background: rgb(219, 78, 102);
  transition: all 0.5s;
  transform: scale(1.3);
}
